<div class="panel overflow-x-hidden">
    <app-navegador></app-navegador>
    <app-subnavegador></app-subnavegador>

    <div class="container-fluid">
        <div class="encabezado_pages ">
           
                <i class="bi bi-card-heading icon-custom-encabezado"></i>


        
                <p class="titulo_menu">Busqueda de TUC´s por placa</p>
   
        </div>
    </div>

    <div class="container">
        <div style="padding: 0px 7%;">
            <div class="card rounded shadow border-2">
                <div class="card-header">
                    <div class="py-3 d-flex justify-content-center align-items-center">
                        <!--<h6 class="m-0 font-weight-bold text-primary">Tabla Usuarios</h6>-->
                        <form class="row mx-auto">
                            <div class="col-auto">
                                <input type="text" class="form-control mr-2" name="buscar" placeholder="BUSCAR POR PLACA nuevo" id="placa">
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-primary"  (click)="obternerTusPorPlaca()">Buscar tuc</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contendor-tarjeta">
        <div class=" row d-flex justify-content-center align-items-center">
    
          <div class="col-md-3 col-sm-6 m-2 mb-4 mt-4" *ngFor="let tuc of lista_tuc">
            <div class="card shadow border-2">
              <div class="card-header bg-secondary text-white">
                <h5 class="m-2">N° de impresión: {{tuc.nro_impresion}} </h5>
                <h4 class="m-2">TUC: {{tuc.nro_tuc}}</h4>
              </div>
              <div class="card-body text-start">
                <!-- <h6><strong>RAZON SOCIAL:</strong> {{tuc.razon_social}}</h6> -->
                <ul>
                  <ul class="list-unstyled custom">
                    <li><strong>RAZON SOCIAL:</strong> {{tuc.razon_social}}</li>
                    <li><strong>N° PART REGISTRAL:</strong> {{tuc.nro_part_reg}}</li>
                    <li><strong>N° RG:</strong> {{tuc.nombre_resolucion}}</li>
                    <li><strong>MARCA:</strong> {{tuc.marca}}</li>
                    <li><strong>AÑO DE FABRICACION:</strong> {{tuc.anio_fabricacion}}</li>
                    <li><strong>COLOR(ES):</strong> {{tuc.color}}</li>
                    <li><strong>N° CHASIS:</strong> {{tuc.nro_chasis}}</li>
                    <li><strong>MODALIDAD:</strong> {{tuc.modalidad}}</li>
                    <li><strong>N° DE ASIENTOS:</strong> {{tuc.nro_asientos}}</li>
                    <li><strong>PESO NETO:</strong> {{tuc.peso}}</li>
                    <li><strong>CARGA UTIL:</strong> {{tuc.carga}}</li>
                    <li><strong>FECHA DE EXPEDIC:</strong> {{tuc.fecha_exp|date:'dd/MM/yyy'}}</li>
                    <li><strong>FECHA DE VENCIM:</strong> {{tuc.fecha_ven|date:'dd/MM/yyy'}}</li>
                    <li><strong>CONDICION:</strong> {{tuc.condicion}}</li>
                  </ul>
    
                  <hr>
                  <li><strong>RUTA AUTORIZADA A OPERAR:</strong> {{tuc.ruta}}</li>
                </ul>
                <hr>
                <label class="mx-2 mb-2">Copias: </label>
                <div class="mb-3">
                  <textarea name="tuc_copia" class="form-control" rows="2" readonly>{{tuc.copia}}</textarea>
                </div>
              </div>
    
            </div>
          </div>
        </div>
      </div>

</div>