<div class="card rounded shadow border-2 ">
                
    <div class="card-header  ">

        <div class="py-3 d-flex justify-content-between align-items-center">
            <!--<h6 class="m-0 font-weight-bold text-primary">Tabla Usuarios</h6>-->
            <input type="text" class="form-control mx-4" name="buscar" placeholder="BUSCAR POR NUMERO DOCUMENTO/ NOMBRE" (input)="buscarEnObjeto($event)" >
            
        </div>

    </div>
    <div class="card-body px-5 bg-white rounded">
      <div class="table-responsive">
        <!-- <div>
            <button class="btn btn-success mb-2" (click)="ExporToExcel()"><i class="bi bi-file-earmark-excel-fill"></i> Descargar</button>
        </div> -->
        <table class="table text-center  table-hover" id="excel-table">
            <thead class="text-white table-success">
                <tr>
                  <th scope="col">Nro</th>
                  <th scope="col">DNI/CE</th>
                  <th scope="col">DATOS</th>
                  <th scope="col">NRO_LICENCIA</th>
                  <th scope="col">CATEGORIA</th>
                  <th scope="col">EMPRESA</th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let conductor of listaConductores | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"  >
                 <th scope="row">{{i+1}}</th>
                  <td>{{conductor.numero_documento}}</td>
                  <td>{{conductor.nombre_conductor +' '+conductor.apellido_paterno+' '+conductor.apellido_materno}}</td>
                  <td>{{conductor.nro_licencia}}</td>
                  <td>{{conductor.categoria}}</td>
                  <td>{{conductor.nombre_empresa}}</td>
                </tr> 
              </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-between">
        <button class="btn btn-success mb-2" (click)="ExporToExcel()"><i class="bi bi-file-earmark-excel-fill"></i> Descargar</button>
        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" extLabel="Siguiente"></pagination-controls>
      </div>
    </div>
  </div>
