/* Para navegadores basados en WebKit (Chrome, Edge, Safari) */
.table-responsive::-webkit-scrollbar {
    width: 6px;  /* Grosor del scrollbar */
  }
  
  .table-responsive::-webkit-scrollbar-thumb {
    background-color: #478f5777; /* Color del scroll (verde Bootstrap) */
    border-radius: 10px;  /* Bordes redondeados */
  }
  
  .table-responsive::-webkit-scrollbar-track {
    background: #e9ecef; /* Color del fondo del scrollbar */
  }