<div class="panel">
    <app-navegador></app-navegador>
    <app-subnavegador [ruta]="'principal/infraestructura/detalle/'+this.dataInfraestructuraCertificado.id_infraestructura"></app-subnavegador>

    <div class="encabezado_pages">
        <i class="bi bi-building-fill  icon-custom-encabezado"></i>
        <p class="titulo_menu">{{titulo}}</p>
    </div>
    <div class="container" style="width: 50%;">      
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label for="documento_pdf" class="form-label">Documento PDF:</label>
                                <input class="form-control" type="file" id="formFile" (change)="onFileSelected($event)"  accept=".pdf">
                            </div>
                            <div class="mb-3">
                                <label for="titulo_certificado" class="form-label">Titulo Certificado:</label>
                                <input type="text" name="nombre_certificado" 
                                    class="form-control" [(ngModel)]="dataCertificado.nombre_certificado">
                            </div>
                            <div class="mb-3">
                                <label for="nro_certificado" class="form-label">Número del certificado:</label>
                                <input type="text" name="nro_certificado"  class="form-control"
                                    [(ngModel)]="dataCertificado.nro_certificado" maxlength="6">
                            </div>
                            <div class="mb-3">
                                <label for="anio_certificado" class="form-label">Año:</label>
                                <input type="text" name="anio_certificado"  class="form-control"
                                    [(ngModel)]="dataCertificado.anio_certificado" maxlength="4" appSoloNumeros>
                            </div>
                            <div class="mb-1">
                                <label for="tomo_certificado" class="form-label">Tomo:</label>
                                <input type="text" name="tomo_certificado"  class="form-control"
                                    [(ngModel)]="dataCertificado.tomo_certificado" maxlength="2" appSoloNumeros>
                            </div>
                            <div class="mb-3">
                                <label for="fecha_certificado" class="form-label mt-3">Fecha:</label>
                                <input type="date" class="form-control" name="fecha_certificado"
                                    [(ngModel)]="dataCertificado.fecha_certificado">
                            </div>
                            <div class="d-grid gap-2 mt-4">
                                <button class="btn btn-success btn-lg" type="button"
                                    (click)="GuardarDatos()">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="text-center">
                    <iframe *ngIf="pdfUrl" [src]="pdfUrl" type="application/pdf" width="100%"    [style.height]="'65vh'"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>