<div class="panel">
    <app-navegador></app-navegador>
    <app-subnavegador></app-subnavegador>

    <div class="contenedor">

        <div class="row">
            <div class="col-lg-3">
                <div class="menu-listado-reportes">
                    <div class="titulo">OTROS REPORTES</div>
                    <div class="lista">
                        <div class="item">
                            <div class="name"><i class="bi bi-map"></i> Vehiculos por ruta</div>
                        </div>
                    </div>
                    <div class="lista">
                        <div class="item">
                            <div class="name"> <i class="bi bi-geo-alt"></i> Empresas por ruta</div>
                        </div>
                    </div>
                    <div class="lista">
                        <div class="item">
                            <div class="name"><i class="bi bi-bus-front"></i> Vehiculos por empresa</div>
                        </div>
                    </div>
                    <div class="lista ">
                        <div class="item">
                            <div class="name"> <i class="bi bi-card-list"></i> Historial de un vehiculo por placa</div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end my-4">
                    <button class="btn btn-success shadow"> Reporte a medida</button>
                </div>

            </div>
            <div class="col-lg-9">
                <div class="encabezado_pages d-flex justify-content-start">
                    <i class="bi bi-bar-chart icon-custom-encabezado" style="font-size: 3rem;"></i>
                    <p class="titulo_menu"> REPORTES</p>
                </div>
                <div class="container mb-3">
                    <div class="row g-3">
                        <div class="col-md-3">
                            <div class="card card-tag custom-card-blue p-3 shadow-sm">
                                <h5 class="custom-title-blue">Empresas por servicio</h5>
                                <p class="text-muted mb-0">350</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card custom-card-purple p-3 shadow-sm">
                                <h5 class="custom-title-purple">Infraestructuras</h5>
                                <p class="text-muted mb-0">78</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card custom-card-orange p-3 shadow-sm">
                                <h5 class="custom-title-orange">Vehiculos</h5>
                                <p class="text-muted mb-0">2448</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card custom-card-green p-3 shadow-sm">
                                <h5 class="custom-title-green">Conductores</h5>
                                <p class="text-muted mb-0">189</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="dashboard-grid">
                        <div class="card card_dashboard">
                            <apx-chart [series]="barOptionsColor.series" [chart]="barOptionsColor.chart"
                                [xaxis]="barOptionsColor.xaxis" [title]="barOptionsColor.title">
                            </apx-chart>
                            <button class="btn btn-info btn-sm text-white mx-4" whit>Ver detalle</button>
                        </div>
                        <div class="card card_dashboard">
                            <apx-chart [series]="barOptions.series" [chart]="barOptions.chart"
                                [xaxis]="barOptions.xaxis" [title]="barOptions.title">
                            </apx-chart>
                            <button class="btn btn-info btn-sm text-white mx-4">Ver detalle</button>
                        </div>
                        <div class="card card_dashboard">
                            <apx-chart [series]="PieOptions.series" [chart]="PieOptions.chart"
                                [labels]="PieOptions.labels" [title]="PieOptions.title">
                            </apx-chart>
                            <button class="btn btn-info btn-sm text-white mx-4">Ver detalle</button>
                        </div>
                        <div class="card card_dashboard">
                            <apx-chart [series]="DonutOptions.series" [chart]="DonutOptions.chart"
                                [labels]="DonutOptions.labels" [title]="DonutOptions.title">
                            </apx-chart>
                            <button class="btn btn-info btn-sm text-white mx-4">Ver detalle</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
