<div class="panel">
    <app-navegador></app-navegador>
    <app-subnavegador></app-subnavegador>

    <div class="contenedor">

        <div class="row">
            <div class="col-lg-3">
                <div class="menu-listado-reportes">
                    <div class="titulo">OTROS REPORTES</div>
                    <div class="lista">
                        <div class="item">
                            <div class="name" (click)="openModalVehiculosRutas()"><i class="bi bi-map mx-2"></i> Vehiculos por ruta</div>
                        </div>
                    </div>
                    <div class="lista">
                        <div class="item">
                            <div class="name" (click)="openModalEmpresasRutas()"> <i class="bi bi-geo-alt mx-2"></i> Empresas por ruta</div>
                        </div>
                    </div>
                    <div class="lista">
                        <div class="item">
                            <div class="name" (click)="openModalEmpresasAnio()"><i class="bi bi-calendar-check mx-2"></i> Empesas autorizadas por año</div>
                        </div>
                    </div>
                    <div class="lista">
                        <div class="item">
                            <div class="name" (click)="openModalVehiculos()"><i class="bi bi-bus-front mx-2"></i> Vehiculos por empresa</div>
                        </div>
                    </div>
                    <div class="lista ">
                        <div class="item">
                            <div class="name" (click)="openModalhistorialVehiculo()"> <i class="bi bi-card-list mx-2"></i> Historial de un vehiculo por placa</div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end my-4">
                    <button class="btn btn-success shadow" (click)="openModal()"> Reporte a medida</button>
                </div>

            </div>
            <div class="col-lg-9">
                <div class="encabezado_pages d-flex justify-content-start">
                    <i class="bi bi-bar-chart icon-custom-encabezado" style="font-size: 3rem;"></i>
                    <p class="titulo_menu"> REPORTES</p>
                </div>
                <div class="container mb-3">
                    <div class="row g-3">
                        <div class="col-md-3">
                            <div class="card card-tag custom-card-blue p-3 shadow-sm" title="ver detalle" (click)="openModalEmpresaServicio()">
                                <h5 class="custom-title-blue">Empresas por servicio</h5>
                                <p class="text-muted mb-0">{{ totalEmpresas }}</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card custom-card-purple p-3 shadow-sm" title="ver detalle" (click)="openModalInfraestructura()">
                                <h5 class="custom-title-purple">Infraestructuras</h5>
                                <p class="text-muted mb-0">{{totalInfraestructura}}</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card custom-card-orange p-3 shadow-sm" title="ver detalle" (click)="openModalVehiculos()">
                                <h5 class="custom-title-orange">Vehiculos</h5>
                                <p class="text-muted mb-0">{{totalVehiculos}}</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card custom-card-green p-3 shadow-sm" title="ver detalle" (click)="openModalConductores()">
                                <h5 class="custom-title-green">Conductores</h5>
                                <p class="text-muted mb-0">{{totalConductores}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="dashboard-grid">
                        <div class="card card_dashboard">
                          <apx-chart #chart [series]="barOptionsColor.series" [chart]="barOptionsColor.chart"
                          [xaxis]="barOptionsColor.xaxis" [title]="barOptionsColor.title">
                        </apx-chart>
                            <button class="btn btn-info btn-sm text-white mx-4" (click)="openModalEmpresaServicio()">Ver detalle</button>
                        </div>
                        <div class="card card_dashboard">
                            <apx-chart [series]="barOptions.series" [chart]="barOptions.chart"
                                [xaxis]="barOptions.xaxis" [title]="barOptions.title">
                            </apx-chart>
                            <button class="btn btn-info btn-sm text-white mx-4" (click)="openModalInfraestructura()">Ver detalle</button>
                        </div>
                        <div class="card card_dashboard">
                            <apx-chart [series]="PieOptions.series" [chart]="PieOptions.chart"
                                [labels]="PieOptions.labels" [title]="PieOptions.title">
                            </apx-chart>
                            <button class="btn btn-info btn-sm text-white mx-4" (click)="openModalEmpresaServicio()">Ver detalle</button>
                        </div>
                        <div class="card card_dashboard">
                            <apx-chart [series]="DonutOptions.series" [chart]="DonutOptions.chart"
                                [labels]="DonutOptions.labels" [title]="DonutOptions.title">
                            </apx-chart>
                            <button class="btn btn-info btn-sm text-white mx-4" (click)="openModalVehiculos()">Ver detalle</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<!-- Scrollable modal -->
<div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn btn-secondary m-0 py-1" (click)="closeModal()" aria-label="Close">Cerrar</button>
          <p class="subtitulo_menu text-white mx-4">reporte a medida</p>
         
        </div>
        <div class="modal-body text-start m-0 p-0">
           <app-reporte-dinamico></app-reporte-dinamico>
        </div>
        <div class="modal-footer p-1">
          <button type="button" class="btn btn-secondary btn-sm mx-4" (click)="closeModal()">Cerrar</button>
        </div>
      </div>
    </div>
</div>

<!-- modal: EMPRESAS POR SERVICIO -->
<div class="modal fade" id="modalEmpresasServicio" tabindex="-1" role="dialog" aria-labelledby="modalEmpresasServicioLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="subtitulo_menu">Reporte de empresas por servicio</p>
          <button type="button" class="btn-close btn-close-white" (click)="closeModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body text-start">
           <app-empresas-servicio></app-empresas-servicio>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">cerrar</button>
        </div>
      </div>
    </div>
</div>


<!-- modal: INFRAESTRUCTURA -->
<div class="modal fade" id="modalInfraestructura" tabindex="-1" role="dialog" aria-labelledby="modalEmpresasServicioLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="subtitulo_menu">Reporte de Infraestructura</p>
          <button type="button" class="btn-close btn-close-white" (click)="closeModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body text-start">
           <app-infraestructura-reporte></app-infraestructura-reporte>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">cerrar</button>
        </div>
      </div>
    </div>
</div>

<!-- modal: VEHICULOS -->
<div class="modal fade" id="modalVehiculos" tabindex="-1" role="dialog" aria-labelledby="modalEmpresasServicioLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="subtitulo_menu">Reporte de vehiculos</p>
          <button type="button" class="btn-close btn-close-white" (click)="closeModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body text-start">
           <app-reporte-vehiculos></app-reporte-vehiculos>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">cerrar</button>
        </div>
      </div>
    </div>
</div>

<!-- modal: CONDUCTORES -->
<div class="modal fade" id="modalConductores" tabindex="-1" role="dialog" aria-labelledby="modalConductoresLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="subtitulo_menu">Reporte de conductores registrador por empresa</p>
          <button type="button" class="btn-close btn-close-white" (click)="closeModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body text-start">
           <app-reporte-conductores></app-reporte-conductores>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">cerrar</button>
        </div>
      </div>
    </div>
</div>


<!-- modal: VEHICULOS POR RUTA -->
<div class="modal fade" id="modalVehiculosRutas" tabindex="-1" role="dialog" aria-labelledby="modalVehiculosRutasLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="subtitulo_menu">REPORTE DE VEHICULOS POR RUTA</p>
          <button type="button" class="btn-close btn-close-white" (click)="closeModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body mx-4">
           <app-reporte-vehiculos-ruta></app-reporte-vehiculos-ruta>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">cerrar</button>
        </div>
      </div>
    </div>
</div>


<!-- modal: EMPRESAS POR RUTA -->
<div class="modal fade" id="modalEmpresasRutas" tabindex="-1" role="dialog" aria-labelledby="modalEmpresasRutasLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="subtitulo_menu">REPORTE DE EMPRESAS POR RUTA</p>
          <button type="button" class="btn-close btn-close-white" (click)="closeModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body text-start">
           <app-reporte-empresa-servicio-ruta></app-reporte-empresa-servicio-ruta>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">cerrar</button>
        </div>
      </div>
    </div>
</div>

<!-- modal: EMPRESAS AUTORIZADAS POR AÑO -->
<div class="modal fade" id="modalEmpresasAnio" tabindex="-1" role="dialog" aria-labelledby="modalEmpresasAnioLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="subtitulo_menu">REPORTE DE EMPRESAS AUTORIZADAS POR AÑO</p>
          <button type="button" class="btn-close btn-close-white" (click)="closeModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body text-start">
           <app-reporte-empresa-servicio-anio></app-reporte-empresa-servicio-anio>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">cerrar</button>
        </div>
      </div>
    </div>
</div>




<!-- modal: HISTORIAL VEHICULAR -->
<div class="modal fade" id="modalhistorialVehiculo" tabindex="-1" role="dialog" aria-labelledby="modalhistorialVehiculoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="subtitulo_menu">REPORTE DE HISTORIAL VEHICULAR</p>
          <button type="button" class="btn-close btn-close-white" (click)="closeModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body text-start">
           <app-historial-vehiculo></app-historial-vehiculo>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">cerrar</button>
        </div>
      </div>
    </div>
</div>



