footer {
    background-color: #1f1c1cd8;
    color: white;
    padding: 0px 30px;
    text-align: center;
    /* opacity: 0.5; */
  }
  footer a {
    color: #00bcd4;
    text-decoration: none;
  }
  footer a:hover {
    text-decoration: underline;
  }
  footer p {
    margin: 5px 0;
    padding: 0px 10px;
  }