<div class="panel">
    <app-navegador></app-navegador>
    <app-subnavegador></app-subnavegador>

    <div class="container-fluid">
        <!-- presentacion -->
        <div class="encabezado_pages">

            <i class="bi-buildings-fill icon-custom-encabezado"></i>

            <div class="text-start">
                <p class="titulo_menu">INFRAESTRUCTURA</p>
                <p class="subtitulo_menu">Registro de Terminales y Estaciones de Ruta</p>
            </div>
        </div>
        <hr>
        <!-- agregar y busqueda -->


        <div class="row pb-5">
            <div class=" col-lg-11 mx-auto">

                <div class="card rounded shadow border-2 ">
                    <div class="card-header py-3 d-flex justify-content-between align-items-center ">
                        <button type="button" class="btn btn-success mx-4 "
                            (click)="crearInfraestructura()" [style]="disableInvitado">+add</button>

                        <input type="text" class="form-control " name="buscar"
                            placeholder="BUSCAR POR EXP/INFRAESTRUCTURA/DIRECCION" (input)="buscarEnObjeto($event)">
                        <button type="button" class="btn btn-info mx-4 " (click)="restaurarInfraestructuras()"><i
                                class="bi bi-arrow-clockwise"></i></button>
                    </div>
                    <div class="card-body px-4 bg-white rounded">
                        <div class="table-responsive px-4">
                            <div class="d-flex justify-content-start">
                                <div class="card custom-card-gray-4  p-2 shadow-sm mb-3">
                                    <div class="px-3">
                                        <p class="custom-title-gray-4 mb-0">T. Terrestre</p>
                                        <p class="text-muted mb-0 opacity-75"><i class="bi bi-bus-front-fill "
                                                style="cursor: auto;"> </i> <strong> {{cantidad_t_terrestre}}</strong>
                                        </p>
                                    </div>
                                </div>
                                <div class="card custom-card-blue-3 p-2 shadow-sm mb-3 mx-3">
                                    <div class="px-3">
                                        <p class="custom-title-blue-3 mb-0">ER. De tipo I</p>
                                        <p class="text-muted mb-0 opacity-75"> <i class="bi bi-signpost-fill "
                                                style="cursor: auto;"></i> <strong> {{cantidad_er_tipo1}}</strong></p>
                                    </div>
                                </div>
                                <div class="card custom-card-blue-2 p-2 shadow-sm mb-3">
                                    <div class="px-3">
                                        <p class="custom-title-blue-2 mb-0">ER. De tipo II</p>
                                        <p class="text-muted mb-0 opacity-75"><i class="bi bi-signpost-fill "
                                                style="cursor: auto;"></i><strong> {{cantidad_er_tipo2}}</strong></p>
                                    </div>
                                </div>
                                <div class="card custom-card-blue-1 p-2 shadow-sm mb-3 mx-3">
                                    <div class="px-3">
                                        <p class="custom-title-blue-1 mb-0">ER. De tipo III</p>
                                        <p class="text-muted mb-0 opacity-75"> <i class="bi bi-geo-alt-fill"
                                                style="cursor: auto;"></i> <strong> {{cantidad_er_tipo2}}</strong></p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">


                                <table class="table text-center  table-hover">
                                    <thead class="thead-ligth bg-secondary text-white table-success">
                                        <tr>
                                            <th scope="col">Nro</th>
                                            <th scope="col">EXP</th>
                                            <th scope="col">
                                                <select id="tipo_doc_table" name="tipo_doc" class="form-control mx-4"
                                                    class="form-select form-select-sm w-80"
                                                    (change)="seleccionarTipoTransporte($event)">
                                                    <option value="0" disabledd selected>TIPO DE TRASPORTE </option>
                                                    <option value=1>TERMINAL TERRESTRE</option>
                                                    <option value=2>ESTACION DE RUTA TIPO I</option>
                                                    <option value=3>ESTACION DE RUTA TIPO II</option>
                                                    <option value=4>ESTACION DE RUTA TIPO III</option>
                                                </select>
                                            </th>
                                            <th scope="col">INFRAESTRUCTURA</th>
                                            <th scope="col">DIRECCION</th>
                                            <th scope="col">FECHA</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of listaInfraestructura | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"
                                            (click)="detalleInfraestructura(item.id_infraestructura)"
                                            class="table-barra">

                                            <th scope="row">{{i+1}}</th>
                                            <td>{{item.expediente}}</td>
                                            <td>{{item.tipo_infraestructura}}</td>
                                            <td>{{item.nombre_infraestructura}}</td>
                                            <td>{{item.direccion}}</td>
                                            <td>{{item.fecha_act | date: 'dd/MM/yyyy'}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="d-flex justify-content-end">
                                    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"
                                        nextLabel="Siguiente"></pagination-controls>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>