/* Azul 1: Muy tenue */
.custom-card-blue-1 {
    background-color: #E3F2FD; /* Azul muy tenue */
    border: none;
  }
  .custom-title-blue-1 {
    color: #1976D2; /* Azul más oscuro */
  }
  
  /* Azul 2: Claro */
  .custom-card-blue-2 {
    background-color: #BBDEFB; /* Azul claro */
    border: none;
  }
  .custom-title-blue-2 {
    color: #1565C0; /* Azul oscuro intermedio */
  }
  
  /* Azul 3: Intermedio */
  .custom-card-blue-3 {
    background-color: #90CAF9; /* Azul intermedio */
    border: none;
  }
  .custom-title-blue-3 {
    color: #0D47A1; /* Azul oscuro */
  }
  
  /* Azul 4: Más saturado */
  .custom-card-blue-4 {
    background-color: #64B5F6; /* Azul más saturado */
    border: none;
  }
  .custom-title-blue-4 {
    color: #0B3C91; /* Azul aún más oscuro */
  }
  

  .custom-card-gray-4 {
    background-color: #e2cffd; /* Morado tenue */
    border: none;
  }
  .custom-title-gray-4 {
    color: #482670; /* Gris oscuro para contraste */
  }