<div class="card rounded shadow border-2 mb-4 mt-2 mx-3">
    <div class="card-header d-flex justify-content-between align-items-center ">



        <select id="tipo_doc_table" name="tipo_doc" class="form-control mx-4" class="form-select form-select-sm w-80"
            (change)="seleccionarTipoTransporte($event)">
            <option value="0" disabledd selected>TIPO DE INFRAESTRUCTURA </option>
            <option value=1>TERMINAL TERRESTRE</option>
            <option value=2>ESTACION DE RUTA TIPO I</option>
            <option value=3>ESTACION DE RUTA TIPO II</option>
            <option value=4>ESTACION DE RUTA TIPO III</option>
        </select>

        <input type="text" class="form-control mx-2 " name="buscar" placeholder="BUSCAR POR EMPRESA/RUC"
            (input)="buscarEnObjeto($event)">

    </div>
    <div class="card-body px-4 bg-white rounded">
        <div class="table-responsive px-4">

            <div class="form-group ">
                <div class="row">
                    <!-- <div >
                    <button class="btn btn-success mb-2"  (click)="ExporToExcel()"><i class="bi bi-file-earmark-excel-fill"></i> Descargar</button>
                </div> -->
                    <div>
                        <div class="row g-3 mb-3">
                            <div class="col-md-2">
                                <div class="card card-tag custom-card-gray text-white p-3 shadow-sm">
                                    <h6 class="custom-title-gray text-white m-0">Total: ({{cantidad_t_terrestre + cantidad_er_tipo1}})</h6>
                                    <!-- <h5 class="custom-title-blue">Empresas por servicio</h5>
                                <p class="text-muted mb-0">350</p> -->
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="card card-tag custom-card-blue p-3 shadow-sm">
                                    <!-- <strong class="custom-title-blue">Transporte de personas: ({{cantidad_t_personas}})</strong> -->
                                    <h6 class="custom-title-blue m-0">T. Terrestre: ({{cantidad_t_terrestre}})</h6>
                                    <!-- <p class="text-muted mb-0">350</p> -->
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="card custom-card-purple p-3 shadow-sm">
                                    <h6 class="custom-title-purple m-0">E.R Tipo I  ({{cantidad_er_tipo1}})</h6>

                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="card custom-card-orange p-3 shadow-sm">
                                    <h6 class="custom-title-orange m-0">E.R Tipo II  ({{cantidad_er_tipo2}})</h6>
                                    
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="card custom-card-green p-3 shadow-sm">
                                    <h6 class="custom-title-green m-0">E.R Tipo III  ({{cantidad_er_tipo3}})</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class=" d-flex justify-content-between  mb-3">
                    <div class="btn-group btn-group-sm" role="group" aria-label="horizontal radio toggle button group">
                        <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1"  checked>
                        <label class="btn btn-outline-primary" for="vbtn-radio1">Total: ({{cantidad_t_personas + cantidad_t_turismo +cantidad_t_trabajadores + cantidad_t_estudiantes}})</label>
                        <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio2"  >
                        <label class="btn btn-outline-primary" for="vbtn-radio2" (click)="filtrarEmpresa(1)">T. Personas ({{cantidad_t_personas}}) </label>
                        <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio3" >
                        <label class="btn btn-outline-primary" for="vbtn-radio3" (click)="filtrarEmpresa(2)">T. Turismo ({{cantidad_t_turismo}})</label>
                        <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio4" >
                        <label class="btn btn-outline-primary" for="vbtn-radio4" (click)="filtrarEmpresa(3)">T. Trabajadores ({{cantidad_t_trabajadores}})</label>
                        <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio5" >
                        <label class="btn btn-outline-primary" for="vbtn-radio5" (click)="filtrarEmpresa(4)">T. Estudiantes ({{cantidad_t_estudiantes}})</label>
                    </div>

                    <div class="btn-group btn-group-sm" role="group" aria-label="horizontal radio toggle button group">
                        <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-activo" >
                        <label class="btn btn-outline-success" for="vbtn-activo">Activo</label>
                        <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-alerta" >
                        <label class="btn btn-outline-warning" for="vbtn-alerta">Alerta</label>
                        <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-inactivo">
                        <label class="btn btn-outline-secondary" for="vbtn-inactivo">Inactivo</label>
                    </div>
                  </div> -->


                    <table class="table text-center  table-hover " id="excel-table">
                        <thead class="thead-ligth bg-secondary text-white table-success">
                            <tr>
                                <th scope="col">Nro</th>
                                <th scope="col">EXP</th>
                                <th scope="col">TIPO</th>
                                <th scope="col">INFRAESTRUCTURA</th>
                                <th scope="col">DIRECCION</th>
                                <th scope="col">FECHA</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listaInfraestructura | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"
                                 class="table-barra">

                                <th scope="row">{{i+1}}</th>
                                <td>{{item.expediente}}</td>
                                <td>{{item.tipo_infraestructura}}</td>
                                <td>{{item.nombre_infraestructura}}</td>
                                <td>{{item.direccion}}</td>
                                <td>{{item.fecha_act | date: 'dd/MM/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-success mb-2" (click)="ExporToExcel()"><i
                            class="bi bi-file-earmark-excel-fill"></i> Descargar</button>
                    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"
                        nextLabel="Siguiente"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>