.section-login{
    background-color: #eeeeeec0;  
}
.card{
    box-shadow: 0 0 10px rgba(70, 69, 69, 0.13);
}

.section-login::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/logo/logo_fondo2.png') ;
    background-repeat: repeat;
    background-size: 10%;
    filter: grayscale(50%);
    opacity: 0.05;
    z-index: -1;    
}

.titulo-principal{
    font-size: 1.5rem;
    font-weight: 700;
    /* color: #26547ae0; */
    color: #1a3a55cb;
    margin: 0px;
}

.gradient-custom-2 {
    transition: background-image 0.5s ease-in-out;
    background-size: cover;
    background-position: center;   
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}