<div class="panel">
    <app-navegador></app-navegador>
    <app-subnavegador [ruta]="'/principal/lista-empresas-servicio'"></app-subnavegador>
    
    <div class="container-fluid">
        <div class="encabezado_pages">
            <i class="bi bi-building-fill  icon-custom-encabezado"></i>
            <p class="titulo_menu">REGISTRO DE NUEVA EMPRESA </p>
        </div>
        
        <app-progress-bar  [currentStep]="currentStep" ></app-progress-bar>
        <div class="contenedor ">
            <!-- Paso 1: Información básica del usuario -->
            <div *ngIf="currentStep === 1" class="">
                <div class="d-flex justify-content-center">
                    <div class="card" style="width: 60%;">
                        <div class="card-body">
                            <form>
                                <fieldset>
                                    <div class="col-sm-12 col-lg-4 mb-4">
                                        <label for="tipo_empresa_servicio" class="form-label mt-2">Tipo de servicio:</label>
                                        <select id="tipo_empresa_servicio" name="tipo_empresa_servicio" class="form-control form-select">
                                            <option value=0 disabled selected>TIPO SERVICIO</option>
                                            <option value=1>TRANSPORTE DE PERSONAS</option>
                                            <option value=2>TRANSPORTE TURISTICO</option>
                                            <option value=3>TRASNPORTE DE TRABAJADORES</option>
                                            <option value=4>TRANSPORTE DE ESTUDIANTES</option>
                                        </select>
                                    </div>

                                    <!-- DATOS DE LA EMPRESA-->

                                    <!-- FILA DE RUC Y RAZON SOCIAL -->
                                    <div class="row mb-3">
                                        <div class="form-group col-lg-4 col-sm-12">
                                            <label for="ruc_empresa" class="form-label">RUC:</label>
                                            <div class="input-group mb-3">
                                                <input type="number" min="0" class="form-control "
                                                    placeholder="Ingrese RUC" name="empresa_ruc">
                                                <button class="btn btn-primary" type="button" id="button-addon2">
                                                    <i class="bi bi-search"></i>Buscar</button>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-8 col-sm-12">
                                            <label for="nombre_empresa" class="form-label ">Razon Social:</label>
                                            <input id="nombre_empresa" type="text" class="form-control"
                                                name="nombre_empresa">
                                        </div>
                                    </div>

                                    <!-- FILA DE DEPARTAMETNO - PRPVINCIA - DISTRITO -->
                                    <div class="row mb-4">
                                        <!-- departamentos -->
                                        <div class="form-group col-lg-4 col-sm-12">
                                            <label for="departamento_empresa" class="form-label">Departamento:</label>
                                            <select id="departamento_empresa" name="departamento_empresa"
                                                class="form-control form-select">
                                                <option value="" disabled selected>DEPARTAMENTO</option>
                                                <!-- <option *ngFor="let departamento of departamentos"
                                                    [value]="departamento">{{ departamento }}</option> -->
                                            </select>
                                        </div>
                                        <!-- provincias -->
                                        <div class="form-group col-lg-4 col-sm-12">
                                            <label for="provincia_empresa" class="form-label">Provincia:</label>
                                            <select id="provincia_empresa" name="provincia_empresa"
                                                class="form-control form-select">
                                                <option value="" disabled selected>PROVINCIA</option>
                                                <!-- <option *ngFor="let provincia of provincias" [value]="provincia">{{
                                                    provincia }}</option> -->
                                            </select>
                                        </div>
                                        <!-- distrito -->
                                        <div class="form-group col-lg-4 col-sm-12">
                                            <label for="distrito_empresa" class="form-label">Distrito:</label>
                                            <select id="distrito_empresa" name="distrito_empresa"
                                                class="form-control form-select">
                                                <option value="" disabled selected>DISTRITO</option>
                                                <!-- <option *ngFor="let distrito of distritosPorProvincia"
                                                    [value]="distrito">{{ distrito }}</option> -->
                                            </select>
                                        </div>
      
                                    </div>

                                    <!-- FILA DE DIRECCION CORREO Y TELEFONO -->
                                    <div class="row mb-3">
                                        <div class="form-group col-lg-4 col-sm-12">
                                            <label for="direccion_empresa" class="form-label ">Direccion:</label>
                                            <input id="direccion_empresa" type="text" class="form-control "
                                                name="direccion_empresa">
                                        </div>
                                        <div class="form-group col-lg-4 col-sm-12">
                                            <label for="correo_empresa " class="form-label ">Correo:</label>
                                            <input type="email" class="form-control texto-form-minuscula"
                                                name="correo_empresa">
                                        </div>
                                        <div class="form-group  col-lg-4 col-sm-12">
                                            <label for="telefono_empresa" class="form-label">Telefono:</label>
                                            <input type="number" inputmode="numeric" min="0" class="form-control "
                                                name="telefono_empresa">


                                        </div>
                                    </div>

                                    <!-- FILA DE FECHA DE HABILITACION Y EXPEDIENTE -->
                                    <div class="row mb-3">
                                        <div class="form-group col-lg-6 col-sm-12">
                                            <div class="mb-1">
                                                <label for="fecha_empresa" class="form-label ">Fecha de
                                                    Autorización:</label>
                                                <input id="fecha_empresa" type="date" class="form-control"
                                                    name="fecha_resolucion">
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6 col-sm-12">
                                            <label for="expediente_empresa" class="form-label ">Expediente:</label>
                                            <input id="expediente_empresa" type="text" class="form-control"
                                                name="expediente_empresa">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="my-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-primary" (click)="nextStep()">Siguiente</button>

                </div>

            </div>

            <!--Paso 2: Información del representante legal =====================================================================================================================================================================-->
            <div *ngIf="currentStep === 2">
              

                <div class="d-flex justify-content-center">
                    <div class="card" style="width: 50%;">
                        <div class="card-body">
                            <form>
                                <!-- fila de nombres y apellidos -->
                                <div class="row mb-3">
                                    <div class="form-group col-lg-4 col-sm-12">
                                        <label for="nombre_representante" class="form-label ">Nombres:</label>
                                        <input id="nombre_representante" type="text" class="form-control"
                                            name="nombre_representante">
                                    </div>
                                    <div class="form-group col-lg-4 col-sm-12">
                                        <label for="ap_paterno" class="form-label ">Apellido Paterno:</label>
                                        <input id="ap_paterno" type="text" class="form-control" name="ap_paterno">
                                    </div>
                                    <div class="form-group col-lg-4 col-sm-12">
                                        <label for="ap_materno" class="form-label ">Apellido Materno:</label>
                                        <input id="ap_materno" type="text" class="form-control" name="ap_materno">
                                    </div>
                                </div>
                                <!-- fila de correo y telefono -->
                                <div class="row mb-3">
                                    <div class="form-group col-lg-8 col-sm-12">
                                        <label for="correo_representante" class="form-label ">Correo:</label>
                                        <input type="email" class="form-control texto-form-minuscula"
                                            name="correo_representante">
                                    </div>
                                    <div class="form-group col-lg-4 col-sm-12">
                                        <label for="telefono_representante" class="form-label ">Telefono:</label>
                                        <input type="number" min="0" class="form-control" name="telefono_representante">
                                    </div>
                                </div>
                                <div>
                                    <label for="documento_id" class="form-label ">Documento de Identidad:</label>
                                </div>
                                <div class="input-group mb-3">
                                    <label class="input-group-text" for="inputGroupSelect01">Opciones:</label>
                                    <select class="form-select form-select " id="tipo_doc" name="tipo_doc">
                                        <option value="" disabled selected>TIPO DE DOCUMENTO</option>
                                        <option value="CE">CARNET DE ESTRANGERIA</option>
                                        <option value="DNI">DNI</option>
                                    </select>
                                    <input type="text" class="form-control" name="documento">
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <div class="my-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-primary mx-2" (click)="prevStep()">Anterior</button>
                    <button type="button" class="btn btn-primary" (click)="nextStep()">Siguiente</button>

                </div>
            </div>

            <!-- Paso 3: Registro de Resolucion ==========================================================================================================================================-->
            <div *ngIf="currentStep === 3">
               

                <div class="container">
                    <div class="row">
                        <div class="col-md-4 offset-md-2">
                            <div class="card">
                                <div class="card-body">
                                    <form>
                                        <div class="mb-2">
                                            <label for="documento_pdf" class="form-label mb-0">Documento PDF:</label>
                                            <input class="form-control form-control-sm" type="file" id="formFile" accept=".pdf"
                                                autofocus>
                                        </div>
                                        <div class="mb-2">
                                            <label for="titulo" class="form-label  mb-0">Titulo resolución:</label>

                                            <input type="text" name="nombre_resolucion"
                                                 class="form-control form-control-sm">
                                        </div>
                                        <div class="mb-2">
                                            <label for="nro_resolucion" class="form-label  mb-0">Nro resolución</label>
                                            <input type="text" name="nro_resolucion" 
                                                class="form-control form-control-sm">
                                        </div>
                                        <div class="mb-2">
                                            <label for="anio_resolucion" class="form-label  mb-0">Año</label>
                                            <input type="text" name="anio_resolucion" 
                                                class="form-control form-control-sm">
                                        </div>
                                        <div class="mb-2">
                                            <label for="tomo_resolucion" class="form-label  mb-0">Tomo</label>
                                            <input type="number" name="tomo_resolucion"
                                                class="form-control form-control-sm">
                                        </div>
                                        <div class=" mb-2">
                                            <label for="fecha_resolucion" class="form-label   mb-0">Fecha</label>
                                            <input type="date" class="form-control form-control-sm" name="fecha_resolucion">
                                        </div>

                                        <div class="mb-3">
                                            <label for="documento_pdf" class="form-label  mb-0">Descripcion</label>
                                            <textarea class="form-control" name="descripcion" rows="3"></textarea>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="text-center">
                                <iframe [src]="pdfUrl"  type="application/pdf" width="100%" height="540px"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-primary mx-2" (click)="prevStep()">Anterior</button>
                    <button type="button" class="btn btn-primary" (click)="nextStep()">Siguiente</button>
                </div>
            </div>

            <!-- Paso 4: Registro de Itinerarios -->
            <div *ngIf="currentStep === 4">
                <div class="contenedor">
                    <div class="row">
                        <div class="col-md-5 ">
                            <div class="card">
                                <div class="card-body">
                                    <form>
                                        <!-- DATOS DEL PERSONALES -->
                                        <fieldset>
                                            <div class="form-group ">
                                                <label for="origen_itinerario" class="form-label ">Origen:</label>
                                                <input type="text" class="form-control" name="origen_itinerario">
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="destino_itinerario" class="form-label ">Destino:</label>
                                                <input type="text" class="form-control" name="destino_itinerario">
                                            </div>
                                            <div class="form-group mt-3">
                                                <label for="itinerario" class="form-label  ">Itinerario:</label>
                                                <textarea class="form-control" name="itinerario" rows="4"></textarea>
                                            </div>
                                            <div class="form-group mt-3 mb-3">
                                                <label for="frecuencia" class="form-label  ">Frecuencia:</label>
                                                <input type="text" class="form-control" name="frecuencia">
                                            </div>

                                        </fieldset>
                                        <div class="d-grid gap-2 mt-2">
                                            <button type="button " class="btn btn-success">Crear</button>
                                        </div>
                                        <div class="d-grid gap-2 mt-2">
                                            <button class="btn  btn-secondary text-white"
                                                type="button">limpiar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 text-center">
                            <table class="table text-center  table-hover">
                                <thead class="thead-ligth bg-secondary text-white table-success">
                                    <tr>
                                        <th scope="col">Nro</th>
                                        <th scope="col">Origen </th>
                                        <th scope="col">Destino</th>
                                        <th scope="col">Itinerario</th>
                                        <th scope="col">Frecuencia</th>
                                        <th scope="col">Eliminar</th>
                                    </tr>
                                </thead>
                                <!-- <tbody>
                                    <tr *ngFor="let item of listaItinerarios, index as i">

                                        <th scope="row">{{i+1}}</th>

                                        <td>{{ item.origen }}</td>
                                        <td>{{item.destino}}</td>
                                        <td>{{item.itinerario}}</td>
                                        <td>{{item.frecuencia}}</td>
                                        <td><i class="bi bi-trash3-fill" ></i> </td>

                                    </tr>
                                </tbody> -->
                            </table>
                        </div>
                    </div>
                </div>

                <div class="my-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-primary mx-2" (click)="prevStep()">Anterior</button>
                    <button type="button" class="btn btn-primary" (click)="nextStep()">Siguiente</button>
                </div>
            </div>

            <!-- Paso 5: Registro de contratos de arrendamientos -->
            <div *ngIf="currentStep === 5">
              
                <div class="row">
                    <div class="col-md-5 ">
                        <div class="card">
                            <div class="card-body">
                                <form>
                                    <!-- DATOS DE ARRENDAMIENTO-->
                                    <fieldset>
                                        <div class="row mb-3">
                                            <div class="form-group col-lg-7 col-sm-12">
                                                <label for="datos_arrendador" class="form-label ">Nombres y Apellidos
                                                    (Arrendador):</label>
                                                <input type="text" class="form-control" name="arrendador">
                                            </div>
                                            <div class="form-group col-lg-5 col-sm-12">
                                                <label for="datos_arrendador" class="form-label ">DNI:</label>
                                                <input type="text" min="0" [maxLength]="8" class="form-control"
                                                    name="dni_arrendario">
                                            </div>
                                        </div>

                                        <div class="form-group mb-3">
                                            <label for="propiedad" class="form-label ">Nombre de la propiedad:</label>
                                            <input type="text" class="form-control" name="propiedad">
                                        </div>
                                        <!-- FILA DE DEPARTAMETNO - PRPVINCIA - DISTRITO -->
                                        <div class="row mb-3">
                                            <!-- departamentos -->
                                            <div class="form-group col-lg-4 col-sm-12">
                                                <label for="departamento_empresa"
                                                    class="form-label">Departamento:</label>
                                                <select id="departamento_empresa" name="departamento_empresa"
                                                    class="form-control form-select">
                                                    <option value="" disabled selected>DEPARTAMENTO</option>
                                                    <!-- <option *ngFor="let departamento of departamentos"
                                                        [value]="departamento">{{ departamento }}</option> -->
                                                </select>
                                            </div>
                                            <!-- distritos -->
                                            <div class="form-group  col-lg-4 col-sm-12">
                                                <label for="provincia_empresa" class="form-label  ">Provincia:</label>
                                                <select id="provincia_empresa" name="provincia_empresa"
                                                    class="form-control form-select">
                                                    <option value="" selected disabled>PROVINCIA</option>
                                                    <!-- <option *ngFor="let provincia of provinciasArrendamiento"
                                                        [value]="provincia">{{ provincia }}</option> -->
                                                </select>
                                            </div>
                                            <!-- provincias -->
                                            <div class="form-group  col-lg-4 col-sm-12">
                                                <label for="distrito_empresa" class="form-label  ">Distrito:</label>
                                                <select id="distrito_empresa" name="distrito_empresa"
                                                    class="form-control form-select">
                                                    <option value="">DISTRITO</option>
                                                    <!-- <option *ngFor="let distrito of distritosPorProvinciaArrendamiento"
                                                        [value]="distrito">{{ distrito }}</option> -->
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="direccion" class="form-label  ">Direccion:</label>
                                            <input type="text" class="form-control" name="direccion">
                                        </div>
                                        <div class="row mb-3">
                                            <div class="form-group col-lg-6 col-sm-12  ">
                                                <label for="fecha_inicio " class="form-label ">Fecha inicio:</label>
                                                <input type="date" class="form-control" name="fecha_inicio">
                                            </div>
                                            <div class="form-group col-lg-6  col-sm-12">
                                                <label for="fecha_final" class="form-label ">Fecha final:</label>
                                                <input type="date" class="form-control" name="fecha_final">
                                            </div>
                                        </div>


                                    </fieldset>
                                    <div class="d-grid gap-2 mt-2">
                                        <button class="btn btn-success" type="button">crear</button>
                                    </div>
                                    <div class="d-grid gap-2 mt-2">
                                        <button class="btn btn-secondary text-white">limpiar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 text-center">
                        <table class="table text-center  table-hover">
                            <thead class="thead-ligth bg-secondary text-white table-success">
                                <tr>
                                    <th scope="col">Nro</th>
                                    <th scope="col">Datos Arrendador</th>
                                    <th scope="col">Propiedad</th>
                                    <th scope="col">Direccion</th>
                                    <th scope="col">Fecha incial</th>
                                    <th scope="col">Fecha final</th>
                                    <th scope="col">Eliminar</th>


                                </tr>
                            </thead>
                            <!-- <tbody>
                                <tr *ngFor="let item of listaContratosArrendamiento, index as i"
                                    (dblclick)="ObtenerValoresArrendamiento(i)">

                                    <th scope="row">{{i+1}}</th>

                                    <td>{{item.arrendador}}</td>
                                    <td>{{item.propiedad}}</td>
                                    <td>{{item.direccion}}</td>
                                    <td>{{item.fecha_inicio | date:'dd-MM-yyyy'}} </td>
                                    <td>{{item.fecha_fin | date:'dd-MM-yyyy'}}</td>
                                    <td><i class="bi bi-trash3-fill" (click)="EliminarArrienda(i)"></i> </td>


                                </tr>
                            </tbody> -->
                        </table>
                    </div>
                </div>

                
                <div class="my-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-primary mx-2" (click)="prevStep()">Anterior</button>
                    <button type="button" class="btn btn-primary" (click)="nextStep()">Siguiente</button>

                </div>
            </div>

            <!-- paso 6: Registro de conductores -->
            <div *ngIf="currentStep === 6">
               

                <div class="row">
                    <div class="col-md-5 ">
                        <div class="card">
                            <div class="card-body">
                                <form>
                                    <!-- DATOS DEL PERSONALES -->
                                    <fieldset>
                                        <div class="form-group mb-3">
                                            <label for="nombre_conductor " class="form-label ">Nombre(s)</label>

                                            <input type="text" class="form-control" name="nombre"
                                                placeholder="Nombre(s)">
                                        </div>
                                        <div class="form-group mb-3">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    <label for="ap_paterno" class="form-label ">Apellido Paterno:</label>
                                                    <input type="text" class="form-control" name="ap_paterno">
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <label for="ap_materno" class="form-label ">Apellido Materno:</label>
                                                    <input type="text" class="form-control" name="ap_materno">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="correo" class="form-label ">Correo:</label>
                                            <input type="email" class="form-control texto-form-minuscula" name="correo"
                                                placeholder="correo">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="documento_id" class="form-label ">Documento de Identidad:</label>
                                            <!-- <div class="row">
                                                <div class="col-sm-6">
                                                    <select id="tipo_doc" name="tipo_doc" class="form-control">
                                                        <option value="" disabled selected>TIPO DE DOCUMENTO </option>
                                                        <option value="CE">CARNET DE ESTRANGERIA</option>
                                                        <option value="DNI">DNI</option>
                                                    </select>
                                                </div>

                                                <div class="col-sm-6">
                                                    <input type="text" min="0" class="form-control" name="documento_id">
                                                </div>

                                            </div> -->
                                            <div class="input-group mb-3">
                                                <label class="input-group-text" for="inputGroupSelect01">Opciones:</label>
                                                <select class="form-select form-select " id="tipo_doc" name="tipo_doc">
                                                    <option value="" disabled selected>TIPO DE DOCUMENTO</option>
                                                    <option value="CE">CARNET DE ESTRANGERIA</option>
                                                    <option value="DNI">DNI</option>
                                                </select>
                                                <input type="text" class="form-control" name="documento">
                                            </div>
                                        </div>
                                        <div class="form-group mb-3">
                                            <div class="row">   
                                                <div class="col-sm-12 col-md-4">
                                                    <label for="telefono" class="form-label ">Telefono/cel:</label>
                                                    <input type="number" min="0" class="form-control" name="telefono" placeholder="Telefono/cel">
                                                </div>
                                                <div class="col-sm-12 col-md-4">
                                                    <label for="licencia" class="form-label ">Licencia:</label>
                                                    <input type="text" class="form-control" name="licencia" placeholder="Licencia">

                                                </div>
                                                <div class="col-sm-12 col-md-4 ">
                                                    <label for="categoria" class="form-label ">Categoria:</label>
                                                    <select id="categoria" name="categoria" class="form-control form-select">
                                                        <option value="" disabled selected>CATEGORIA </option>
                                                        <option value="A-I">A-I</option>
                                                        <option value="A-IIa">A-IIa</option>
                                                        <option value="A-IIb">A-IIb</option>
                                                        <option value="A-IIIa">A-IIIa</option>
                                                        <option value="A-IIIb">A-IIIb</option>
                                                        <option value="A-IIIc">A-IIIc</option>
        
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                       


                                    </fieldset>
                                    <div class="d-grid gap-2 mt-2">
                                        <button class="btn btn-success " type="button">crear</button>
                                    </div>
                                    <div class="d-grid gap-2 mt-2">
                                        <button class="btn btn-secondary text-whit"
                                            type="button">limpiar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 text-center">
                        <table class="table text-center  table-hover">
                            <thead class="thead-ligth bg-secondary text-white table-success">
                                <tr>
                                    <th scope="col">Nro</th>
                                    <th scope="col">Nombre y Apellidos</th>
                                    <th scope="col">DNI</th>
                                    <th scope="col">Licencia</th>
                                    <th scope="col">Categoria</th>
                                    <th scope="col">Eliminar</th>

                                </tr>
                            </thead>
                            <!-- <tbody>
                                <tr *ngFor="let item of listaConductores, index as i"
                                    (dblclick)="ObtenerDatosConductor(i)">

                                    <th scope="row">{{i+1}}</th>

                                    <td>{{ item.nombres + ' ' + item.ap_paterno + ' ' +item.ap_materno}}</td>
                                    <td>{{item.documento}}</td>
                                    <td>{{item.nro_licencia}}</td>
                                    <td>{{item.categoria}}</td>
                                    <td><i class="bi bi-trash3-fill" (click)="EliminarConductor(i)"></i> </td>

                                </tr>
                            </tbody> -->
                        </table>
                    </div>
                </div>

                <div class="my-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-primary mx-2" (click)="prevStep()">Anterior</button>
                    <button type="button" class="btn btn-primary" (click)="nextStep()">Siguiente</button>
                </div>
            </div>
            <!-- Paso 7: Registro de vehiculos -->

            <div *ngIf="currentStep === 7">
               
                <div class="row">
                    <div class="col-md-8 ">
                        <div class="card">
                            <div class="card-body">
                                <form>

                                    <fieldset>

                                        <div class="form-group mb-2">

                                            <div class="row">
                                                <div class="col-sm-12 col-md-6 col-lg-3">
                                                    <label for="Placa" class="form-label">Placa:</label>
                                                    <div class="row">

                                                        <div class="col-sm-8 pr-0 mr-0">
                                                            <!-- Divide el espacio en 8 columnas para el input -->
                                                            <input id="placa" type="text" class="form-control"
                                                                name="placa">
                                                        </div>
                                                        <div class="col-sm-4 pl-0 ml-0">
                                                            <!-- Divide el espacio en 4 columnas para el botón -->
                                                            <button class="btn btn-primary"><i
                                                                    class="bi bi-search"></i></button>
                                                        </div>

                                                    </div>


                                                </div>


                                                <div class="col-sm-12 col-md-6 col-lg-3">
                                                    <label for="anio" class="form-label">Año:</label>
                                                    <input type="number" class="form-control" name="anio" min="1900"
                                                        max="2100">
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-3 ">
                                                    <label for="nro_registro" class="form-label">Nro de Partida
                                                        Registral:</label>
                                                    <input type="text" class="form-control" name="nro_registro">
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-3">
                                                    <label for="Condicion" class="form-label">Condicion:</label>
                                                    <select id="Condicion" name="condicion" class="form-control">
                                                        <option value="">CONDICION </option>
                                                        <option value="AUTORIZACION">AUTORIZACION</option>
                                                        <option value="INCREMENTO">INCREMENTO</option>
                                                        <option value="SUSTITUCION">SUSTITUCION</option>
                                                        <option value="RENOVACION">RENOVACION</option>

                                                    </select>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="form-group mb-2">

                                            <div class="row">
                                                <div class="col-sm-12 col-md-6 col-lg-3">
                                                    <label for="peso" class="form-label">Peso Neto(Tn):</label>
                                                    <input type="number" class="form-control" name="peso" min="0">
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-3">
                                                    <label for="carga" class="form-label">Carga Util(Tn):</label>
                                                    <input type="number" class="form-control" name="carga" min="0">
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-3">
                                                    <label for="carroceria" class="form-label">Carroceria:</label>
                                                    <input type="text" class="form-control" name="carroceria">
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-3">
                                                    <label for="categoria" class="form-label">Categoria:</label>
                                                    <select id="Categoria" name="categoria" class="form-control">
                                                        <option value="" disabled selected>CATEGORÍA</option>
                                                        <option value="L">L</option>
                                                        <option value="L1">L1</option>
                                                        <option value="L2">L2</option>
                                                        <option value="L3">L3</option>
                                                        <option value="L4">L4</option>
                                                        <option value="L5">L5</option>
                                                        <option value="M">M</option>
                                                        <option value="M1">M1</option>
                                                        <option value="M3">M3</option>
                                                        <option value="M2-C1">M2-C1</option>
                                                        <option value="M2-C2">M2-C2</option>
                                                        <option value="M2-C3">M2-C3</option>
                                                        <option value="M3-C1">M3-C1</option>
                                                        <option value="M3-C2">M3-C2</option>
                                                        <option value="M3-C3">M3-C3</option>
                                                        <option value="N">N</option>
                                                        <option value="N1">N1</option>
                                                        <option value="N2">N2</option>
                                                        <option value="N3">N3</option>
                                                    </select>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group mb-2">

                                            <div class="row">
                                                <div class="col-sm-12 col-md-6 col-lg-3">
                                                    <label for="serie" class="form-label">Nro Serie:</label>
                                                    <input type="text" class="form-control" name="serie">
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-3">
                                                    <label for="chasis" class="form-label">Nro chasis/VIN:</label>
                                                    <input type="text" class="form-control" name="chasis">
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-3">
                                                    <label for="asientos" class="form-label">Nro Asientos:</label>
                                                    <input type="number" class="form-control" name="asientos" min="0">
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-3">
                                                    <label for="modalidad" class="form-label">modalidad:</label>
                                                    <select id="modalidad" type="text" class="form-control"
                                                        name="modalidad">
                                                        <option value="" disabled selected>MODALIDAD </option>
                                                        <option value="ESTANDAR">ESTANDAR</option>
                                                        <option value="DIFERENCIADO">DIFERENCIADO</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group mb-2">

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label for="marca" class="form-label">Marca:</label>

                                                    <select id="marca" name="marca" class="form-control select-reverse">
                                                        <option value="" disabled selected>MARCA</option>
                                                        <!-- <option *ngFor="let marca of lista_marca"
                                                            [value]="marca.nombre_marca">{{marca.nombre_marca}}</option> -->
                                                    </select>
                                                </div>

                                                <div class="col-sm-6">
                                                    <label for="modelo" class="form-label">Modelo:</label>
                                                    <select id="modelo" name="modelo"
                                                        class="form-control select-reverse">
                                                        <option value="" disabled selected>MODELO</option>
                                                        <!-- <option *ngFor="let modelo of lista_modelo"
                                                            [value]="modelo.nombre_modelo">{{modelo.nombre_modelo}}
                                                        </option> -->
                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group mb-2">
                                            <label for="color" class="form-label">Color(es):</label>
                                            <input type="text" class="form-control" name="color">
                                        </div>

                                        <div class="form-group mb-2">
                                            <label for="itinerario" class="form-label">Itinerario:</label>
                                            <select id="itinerario" name="itinerario"
                                                class="form-control select-reverse">
                                                <option value='' selected disabled>ITINERARIO</option>
                                                <!-- <option *ngFor="let itinerario of listaItinerarios, index as i"
                                                    [value]="i">{{itinerario.itinerario}}</option> -->
                                            </select>

                                        </div>
                                        <div class="form-group mb-2">
                                            <label for="resolucion" class="form-label">Resolución:</label>
                                            <select id="resolucion" name="resolucion"
                                                class="form-control select-reverse">
                                                <option value=0 selected disabled>RESOLUCIÓN </option>
                                                <option value="1">resolucion.nombre_resolucion</option>
                                            </select>
                                        </div>
                                    </fieldset>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <button class="btn btn-lg btn-secondary">titulo_boton_vehiculo</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-lg btn-secondary mt-3 text-white w-100"
                                                type="button">Limpiar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="text-center">
                            <table class="table text-center  table-hover">
                                <thead class="thead-ligth bg-secondary text-white table-success">
                                    <tr>
                                        <th scope="col">Nro</th>
                                        <th scope="col">Placa</th>
                                        <th scope="col">Año</th>
                                        <th scope="col">Condicion</th>
                                        <th scope="col">Eliminar</th>
                                    </tr>
                                </thead>
                                <!-- <tbody>
                                    <tr *ngFor="let vehiculo of lista_vehiculos, index as i"
                                        (dblclick)="obtenerValoresPorIdVehiculo(i)">

                                        <th scope="row">{{i+1}}</th>


                                        <td>{{vehiculo.placa}}</td>
                                        <td>{{vehiculo.anio_fabricacion}}</td>
                                        <td>{{vehiculo.estado}}</td>
                                        <td><i class="bi bi-trash3-fill" (click)="EliminarVehiculo(i)"></i> </td>

                                    </tr>
                                </tbody> -->
                            </table>
                        </div>
                    </div>
                </div>

                <div class="my-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-primary mx-2" (click)="prevStep()">Anterior</button>
                    <button type="button" class="btn btn-primary mx-2">Registrar</button>
                </div>
            </div>
        </div>

    </div>
</div>