<div class="panel">
    <app-navegador></app-navegador>
    <app-subnavegador [ruta]="'/principal/lista-empresas-servicio'"></app-subnavegador>

    <div class="container-fluid">
        <div class="encabezado_pages">
            <i class="bi bi-building-fill  icon-custom-encabezado"></i>
            <p class="titulo_menu">REGISTRO DE NUEVA EMPRESA </p>
        </div>

        <app-progress-bar [currentStep]="currentStep"></app-progress-bar>
        <div class="contenedor ">
            <!-- Paso 1: Información básica del usuario -->
            <div *ngIf="currentStep === 1" class="">
               <app-p1-datos-empresa></app-p1-datos-empresa>

                <div class="my-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-primary" (click)="nextStep()">Siguiente</button>

                </div>

            </div>

            <!--Paso 2: Información del representante legal =====================================================================================================================================================================-->
            <div *ngIf="currentStep === 2">


                <app-p2-datos-representante></app-p2-datos-representante>

                <div class="my-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-primary mx-2" (click)="prevStep()">Anterior</button>
                    <button type="button" class="btn btn-primary" (click)="nextStep()">Siguiente</button>

                </div>
            </div>

            <!-- Paso 3: Registro de Resolucion ==========================================================================================================================================-->
            <div *ngIf="currentStep === 3">

                <app-p3-datos-resolucion></app-p3-datos-resolucion>
               
                <div class="my-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-primary mx-2" (click)="prevStep()">Anterior</button>
                    <button type="button" class="btn btn-primary" (click)="nextStep()">Siguiente</button>
                </div>
            </div>

            <!-- Paso 4: Registro de Itinerarios -->
            <div *ngIf="currentStep === 4">
                <app-p4-datos-rutas></app-p4-datos-rutas>

                <div class="my-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-primary mx-2" (click)="prevStep()">Anterior</button>
                    <button type="button" class="btn btn-primary" (click)="nextStep()">Siguiente</button>
                </div>
            </div>

            <!-- Paso 5: Registro de contratos de arrendamientos -->
            <div *ngIf="currentStep === 5">

                <app-p5-datos-arrendamiento></app-p5-datos-arrendamiento>

                <div class="my-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-primary mx-2" (click)="prevStep()">Anterior</button>
                    <button type="button" class="btn btn-primary" (click)="nextStep()">Siguiente</button>

                </div>
            </div>

            <!-- paso 6: Registro de conductores -->
            <div *ngIf="currentStep === 6">


                <app-p6-datos-conductores></app-p6-datos-conductores>

                <div class="my-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-primary mx-2" (click)="prevStep()">Anterior</button>
                    <button type="button" class="btn btn-primary" (click)="nextStep()">Siguiente</button>
                </div>
            </div>
            <!-- Paso 7: Registro de vehiculos -->

            <div *ngIf="currentStep === 7">

                <app-p7-datos-vehiculos></app-p7-datos-vehiculos>

                <div class="my-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-primary   mx-2" (click)="prevStep()">Anterior</button>
                    <button type="button" class="btn btn-primary  mx-2">Registrar</button>
                </div>
            </div>
        </div>

    </div>
</div>