  <!-- <div class="panel_stepper">
    <div class="d-flex justify-content-center">
        <div class="progress-container">
            <div class="progress" role="progressbar" aria-label="Progreso del proceso" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar bg-warning " [style.width.%]="progressValue"></div>
            </div>
            <div class="item d-flex flex-column" style="left: 0%;">
                <div class="step-circle mt-2 " [style]="currentStep>=1 ? 'background-color: brown; color: aliceblue;' : null"> 1</div>
                <p [style]="currentStep>=1 ? 'color: #284761e7;' : null">EMPRESA</p>
            </div>
            <div class="item d-flex flex-column" style="left: 16.67%;">
                <div class="step-circle mt-2" [style]="currentStep>=2 ? 'background-color: brown; color: aliceblue;' : null" > 2</div>
                <p [style]="currentStep>=2 ? 'color: #284761e7;' : null">REPRESENTANTE</p>
            </div>
            <div class="item d-flex flex-column" style="left: 33.33%;">
                <div class="step-circle mt-2" [style]="currentStep>=3 ? 'background-color: brown; color: aliceblue;' : null"> 3</div>
                <p [style]="currentStep>=3 ? 'color: #284761e7;' : null">RESOLUCION</p>
            </div>
            <div class="item d-flex flex-column" style="left: 50.00%;">
                
                <div class="step-circle mt-2" [style]="currentStep>=4 ? 'background-color: brown; color: aliceblue;' : null"> 4</div>
                <p [style]="currentStep>=4 ? 'color: #284761e7;' : null">RUTAS</p>
            </div>
            <div class="item d-flex flex-column" style="left: 66.67%;">
              
                <div class="step-circle mt-2" [style]="currentStep>=5 ? 'background-color: brown; color: aliceblue;' : null"> 5</div>
                <p [style]="currentStep>=5 ? 'color: #284761e7;' : null">ARRENDAMIENTO</p>
             
            </div>
            <div class="item d-flex flex-column" style="left: 83.33%;">
              
                <div class="step-circle mt-2" [style]="currentStep>=6 ? 'background-color: brown; color: aliceblue;' : null"> 6</div>
                <p [style]="currentStep>=6 ? 'color: #284761e7;' : null">CONDUCTORES</p>
                
            </div>
            <div class="item d-flex flex-column" style="left: 100%;">
              
                <div class="step-circle mt-2" [style]="currentStep>=7 ? 'background-color: brown; color: aliceblue;' : null"> 7</div>
                <p [style]="currentStep>=7 ? 'color: #284761e7;' : null">VEHICULOS</p>
            </div>  
        </div>
    </div>
  </div> -->

  <!-- <div class="panel_stepper">
    <div class="d-flex justify-content-center">
        <div class="progress-container">
            <div class="progress" role="progressbar" aria-label="Progreso del proceso" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar bg-warning opacity-50" [style.width.%]="progressValue"></div>
            </div>
            <div class="item d-flex flex-column" style="left: 0%;">
                <div class="step-circle mt-2 " [style]="currentStep>=1 ? 'background-color: rgb(205 130 23)  ; color: aliceblue;' : null"> 1</div>
                <p [style]="currentStep>=1 ? 'color: #284761e7;' : null">EMPRESA</p>
            </div>
            <div class="item d-flex flex-column" style="left: 16.67%;">
                <div class="step-circle mt-2" [style]="currentStep>=2 ? 'background-color:rgb(205 130 23) ; color: aliceblue;' : null" > 2</div>
                <p [style]="currentStep>=2 ? 'color: #284761e7;' : null">REPRESENTANTE</p>
            </div>
            <div class="item d-flex flex-column" style="left: 33.33%;">
                <div class="step-circle mt-2" [style]="currentStep>=3 ? 'background-color: rgb(205 130 23); color: aliceblue;' : null"> 3</div>
                <p [style]="currentStep>=3 ? 'color: #284761e7;' : null">RESOLUCION</p>
            </div>
            <div class="item d-flex flex-column" style="left: 50.00%;">
                
                <div class="step-circle mt-2" [style]="currentStep>=4 ? 'background-color: rgb(205 130 23); color: aliceblue;' : null"> 4</div>
                <p [style]="currentStep>=4 ? 'color: #284761e7;' : null">RUTAS</p>
            </div>
            <div class="item d-flex flex-column" style="left: 66.67%;">
              
                <div class="step-circle mt-2" [style]="currentStep>=5 ? 'background-color: rgb(205 130 23); color: aliceblue;' : null"> 5</div>
                <p [style]="currentStep>=5 ? 'color: #284761e7;' : null">ARRENDAMIENTO</p>
             
            </div>
            <div class="item d-flex flex-column" style="left: 83.33%;">
              
                <div class="step-circle mt-2" [style]="currentStep>=6 ? 'background-color: rgb(205 130 23); color: aliceblue;' : null"> 6</div>
                <p [style]="currentStep>=6 ? 'color: #284761e7;' : null">CONDUCTORES</p>
                
            </div>
            <div class="item d-flex flex-column" style="left: 100%;">
              
                <div class="step-circle mt-2" [style]="currentStep>=7 ? 'background-color: rgb(205 130 23); color: aliceblue;' : null"> 7</div>
                <p [style]="currentStep>=7 ? 'color: #284761e7;' : null">VEHICULOS</p>
            </div>  
        </div>
    </div>
  </div> -->

  <!-- <div class="panel_stepper">
    <div class="d-flex justify-content-center">
        <div class="progress-container">
            <div class="progress" role="progressbar" aria-label="Progreso del proceso" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar bg-warning opacity-50" [style.width.%]="progressValue"></div>
            </div>
            <div class="item d-flex flex-column" style="left: 0%;">
                <div class="step-circle mt-2 " [style]="currentStep>=1 ? 'background-color:   #2D9A5A  ; color: aliceblue;' : null"> 1</div>
                <p [style]="currentStep>=1 ? 'color: #284761e7;' : null">EMPRESA</p>
            </div>
            <div class="item d-flex flex-column" style="left: 16.67%;">
                <div class="step-circle mt-2" [style]="currentStep>=2 ? 'background-color: #2D9A5A ; color: aliceblue;' : null" > 2</div>
                <p [style]="currentStep>=2 ? 'color: #284761e7;' : null">REPRESENTANTE</p>
            </div>
            <div class="item d-flex flex-column" style="left: 33.33%;">
                <div class="step-circle mt-2" [style]="currentStep>=3 ? 'background-color:   #2D9A5A; color: aliceblue;' : null"> 3</div>
                <p [style]="currentStep>=3 ? 'color: #284761e7;' : null">RESOLUCION</p>
            </div>
            <div class="item d-flex flex-column" style="left: 50.00%;">
                
                <div class="step-circle mt-2" [style]="currentStep>=4 ? 'background-color:   #2D9A5A; color: aliceblue;' : null"> 4</div>
                <p [style]="currentStep>=4 ? 'color: #284761e7;' : null">RUTAS</p>
            </div>
            <div class="item d-flex flex-column" style="left: 66.67%;">
              
                <div class="step-circle mt-2" [style]="currentStep>=5 ? 'background-color:   #2D9A5A; color: aliceblue;' : null"> 5</div>
                <p [style]="currentStep>=5 ? 'color: #284761e7;' : null">ARRENDAMIENTO</p>
             
            </div>
            <div class="item d-flex flex-column" style="left: 83.33%;">
              
                <div class="step-circle mt-2" [style]="currentStep>=6 ? 'background-color:  #2D9A5A; color: aliceblue;' : null"> 6</div>
                <p [style]="currentStep>=6 ? 'color: #284761e7;' : null">CONDUCTORES</p>
                
            </div>
            <div class="item d-flex flex-column" style="left: 100%;">
              
                <div class="step-circle mt-2" [style]="currentStep>=7 ? 'background-color:  #2D9A5A; color: aliceblue;' : null"> 7</div>
                <p [style]="currentStep>=7 ? 'color: #284761e7;' : null">VEHICULOS</p>
            </div>  
        </div>
    </div>
  </div> -->
  <div class="panel_stepper">
    <div class="d-flex justify-content-center">
        <div class="progress-container">
            <div class="progress" role="progressbar" aria-label="Progreso del proceso" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar bg-warning opacity-50" [style.width.%]="progressValue"></div>
            </div>
            <div class="item d-flex flex-column" style="left: 0%;">
                <div class="step-circle mt-2 " [style]="currentStep>=1 ? 'background-color: #a04000; color: aliceblue;' : null"> 1</div>
                <p [style]="currentStep>=1 ? 'color: #284761e7;' : null">EMPRESA</p>
            </div>
            <div class="item d-flex flex-column" style="left: 16.67%;">
                <div class="step-circle mt-2" [style]="currentStep>=2 ? 'background-color: #a04000; color: aliceblue;' : null" > 2</div>
                <p [style]="currentStep>=2 ? 'color: #284761e7;' : null">REPRESENTANTE</p>
            </div>
            <div class="item d-flex flex-column" style="left: 33.33%;">
                <div class="step-circle mt-2" [style]="currentStep>=3 ? 'background-color: #a04000; color: aliceblue;' : null"> 3</div>
                <p [style]="currentStep>=3 ? 'color: #284761e7;' : null">RESOLUCION</p>
            </div>
            <div class="item d-flex flex-column" style="left: 50.00%;">
                
                <div class="step-circle mt-2" [style]="currentStep>=4 ? 'background-color: #a04000; color: aliceblue;' : null"> 4</div>
                <p [style]="currentStep>=4 ? 'color: #284761e7;' : null">RUTAS</p>
            </div>
            <div class="item d-flex flex-column" style="left: 66.67%;">
              
                <div class="step-circle mt-2" [style]="currentStep>=5 ? 'background-color: #a04000; color: aliceblue;' : null"> 5</div>
                <p [style]="currentStep>=5 ? 'color: #284761e7;' : null">ARRENDAMIENTO</p>
             
            </div>
            <div class="item d-flex flex-column" style="left: 83.33%;">
              
                <div class="step-circle mt-2" [style]="currentStep>=6 ? 'background-color: #a04000; color: aliceblue;' : null"> 6</div>
                <p [style]="currentStep>=6 ? 'color: #284761e7;' : null">CONDUCTORES</p>
                
            </div>
            <div class="item d-flex flex-column" style="left: 100%;">
              
                <div class="step-circle mt-2" [style]="currentStep>=7 ? 'background-color: #a04000; color: aliceblue;' : null"> 7</div>
                <p [style]="currentStep>=7 ? 'color: #284761e7;' : null">VEHICULOS</p>
            </div>  
        </div>
    </div>
  </div>

  <!-- <div class="panel_stepper">
    <div class="d-flex justify-content-center">
        <div class="progress-container">
            <div class="progress" role="progressbar" aria-label="Progreso del proceso" aria-valuemin="0" aria-valuemax="100" >
                    <div class="progress-bar bg-success opacity-50" [style.width.%]="progressValue"></div>
            </div>
            <div class="item d-flex flex-column" style="left: 0%;">
                <div class="step-circle mt-2" [style]="currentStep>=1 ? 'background-color:  #176091; color: aliceblue;' : null"> 1</div>
                <p [style]="currentStep>=1 ? 'color: #284761e7;' : null">EMPRESA</p>
            </div>
            <div class="item d-flex flex-column" style="left: 16.67%;">
                <div class="step-circle mt-2" [style]="currentStep>=2 ? 'background-color:  #176091; color: aliceblue;' : null" > 2</div>
                <p [style]="currentStep>=2 ? 'color: #284761e7;' : null">REPRESENTANTE</p>
            </div>
            <div class="item d-flex flex-column" style="left: 33.33%;">
                <div class="step-circle mt-2" [style]="currentStep>=3 ? 'background-color:  #176091; color: aliceblue;' : null"> 3</div>
                <p [style]="currentStep>=3 ? 'color: #284761e7;' : null">RESOLUCION</p>
            </div>
            <div class="item d-flex flex-column" style="left: 50.00%;">
                
                <div class="step-circle mt-2" [style]="currentStep>=4 ? 'background-color:  #176091; color: aliceblue;' : null"> 4</div>
                <p [style]="currentStep>=4 ? 'color: #284761e7;' : null">RUTAS</p>
            </div>
            <div class="item d-flex flex-column" style="left: 66.67%;">
              
                <div class="step-circle mt-2" [style]="currentStep>=5 ? 'background-color:  #176091; color: aliceblue;' : null"> 5</div>
                <p [style]="currentStep>=5 ? 'color: #284761e7;' : null">ARRENDAMIENTO</p>
             
            </div>
            <div class="item d-flex flex-column" style="left: 83.33%;">
              
                <div class="step-circle mt-2" [style]="currentStep>=6 ? 'background-color:  #176091; color: aliceblue;' : null"> 6</div>
                <p [style]="currentStep>=6 ? 'color: #284761e7;' : null">CONDUCTORES</p>
                
            </div>
            <div class="item d-flex flex-column" style="left: 100%;">
              
                <div class="step-circle mt-2" [style]="currentStep>=7 ? 'background-color:  #176091; color: aliceblue;' : null"> 7</div>
                <p [style]="currentStep>=7 ? 'color: #284761e7;' : null">VEHICULOS</p>
            </div>  
        </div>
    </div>
  </div> -->

