<div class="card rounded shadow border-2 ">
    <div class="card-header d-flex justify-content-between align-items-center ">
    
    
    
            <select id="tipo_doc" name="tipo_doc" class=" form-select mx-4"  >
                <option value="">TIPO DE TRASPORTE </option>
                <option value="1">TRANSPORTE DE REGULAR DE PERSONAS</option>
                <option value="2">TRANSPORTE TURISTICO</option>
                <option value="3">TRANSPORTE DE TRABAJADORES</option>
                <option value="4">TRANSPORTE DE ESTUDIANTES</option>        
            </select>
    
            <input type="text" class="form-control mr-2" name="buscar" placeholder="BUSCAR" (input)="buscarEnObjeto($event)" >
        
    </div>
    <div class="card-body px-4 bg-white rounded">
        <div class="table-responsive px-4">
        
        <div class="form-group">
            <div class="row">
                <div [style]="disableInvitado">
                    <button class="btn btn-success mb-2"  ><i class="bi bi-file-earmark-excel-fill"></i> Descargar</button>
                </div>
                
                <table class="table text-center  table-hover" id="excel-table">
                    <thead class="thead-ligth bg-secondary text-white table-success"  >
                        <tr >
                        <th scope="col">Nro</th>
                        <th scope="col">EMPRESA</th>
                        <th scope="col">RUC</th>
                        <th scope="col">TIPO_SERVICIO</th>
                        <th scope="col">FECH_INICIO</th>
                        <th scope="col">FECH_FINAL</th>
                        <th scope="col">ESTADO</th>
    
                        </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let empresa of ListaEmpresas, index as i"  >
                        
                        <th scope="row">{{i+1}}</th>
                            <td class="text-start">{{empresa.empresa}}</td>
                            <td>{{empresa.ruc}}</td>
                            <td >{{empresa.tipo_servicio}}</td>
                            <td>{{empresa.fecha_inicial| date:'dd/MM/yyyy'}}</td>
                            <td>{{empresa.fecha_final| date:'dd/MM/yyyy'}}</td>
                            <td>{{empresa.estado}}</td>
                        </tr> 
                    </tbody>
                </table> 
            </div>        
        </div>
        </div>
    </div>
    </div>
