<div class="card rounded shadow border-2 ">
                
    <div class="card-header  ">

        <div class="py-3 d-flex justify-content-between align-items-center">
            <!--<h6 class="m-0 font-weight-bold text-primary">Tabla Usuarios</h6>-->
            <input type="text" class="form-control mx-4" name="buscar" placeholder="BUSCAR POR PLACA/ AÑO / MARCA / MODELO / CATEGORIA / EMPRESA" (input)="buscarEnObjeto($event)" >
            
        </div>

    </div>
    <div class="card-body px-5 bg-white rounded">
      <div class="table-responsive">
        <div class="d-flex justify-content-center mb-3">
          <div class="card custom-card-blue p-2 shadow-sm">
              <div class="px-3">
                  <p class="custom-title-blue mb-0">T. de Personas</p>
                  <p class="text-muted mb-0 opacity-75"><i class="bi bi-bus-front "


                          style="cursor: auto;"> </i> <strong> {{cantidad_v_personas}}  </strong></p>
              </div>
          </div>
          <div class="card custom-card-purple p-2 shadow-sm  mx-3">
              <div class="px-3">
                  <p class="custom-title-purple mb-0">T. de Turismo</p>
                  <p class="text-muted mb-0 opacity-75"> <i class="bi bi-car-front"
                          style="cursor: auto;"></i> <strong> {{cantidad_v_turismo}}  </strong></p>
              </div>
          </div>
          <div class="card custom-card-orange p-2 shadow-sm ">
              <div class="px-3">
                  <p class="custom-title-orange mb-0">T. de Estudiantes</p>
                  <p class="text-muted mb-0 opacity-75"><i class="bi bi-bus-front "
                          style="cursor: auto;"></i><strong> {{cantidad_v_estudiantes}} </strong></p>
              </div>
          </div>
          <div class="card custom-card-green p-2 shadow-sm  mx-3">
              <div class="px-3">
                  <p class="custom-title-green mb-0">T. de Trabajadores</p>
                  <p class="text-muted mb-0 opacity-75"> <i class="bi bi-bus-front"
                          style="cursor: auto;"></i> <strong> {{cantidad_v_trabajadores}}  </strong></p>
              </div>
          </div>

          <div class="card  shadow-sm p-2 " style="width: 55%;">
              <div class="d-flex justify-content-between ">
                <div class="d-flex justify-content-start">
                  <div class="form-check mx-2">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckVehiculosPersona">
                      <label class="form-check-label" for="flexCheckDefault">
                          t. personas
                      </label>
                  </div>
                  <div class="form-check mx-2">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckVehiculosTurismo">
                      <label class="form-check-label" for="flexCheckDefault">
                          t. turístico
                      </label>
                  </div>
                  <div class="form-check mx-2">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckVehiculosEstudiante">
                      <label class="form-check-label" for="flexCheckDefault">
                          t. de estudiantes
                      </label>
                  </div>
                  <div class="form-check mx-2">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckVehiculosTrabajador">
                      <label class="form-check-label" for="flexCheckDefault">
                          t. trabajadores
                      </label>
                  </div>
              </div>
              <button class="btn btn-primary btn-sm mx-2 my-0 py-0" type="button"  (click)="filtrarVehiculos()" >filtrar</button>
              </div> 
             
          </div>
          
      </div>
        
        <table class="table text-center  table-hover" id="excel-table">
            <thead class="text-white table-success">
              <tr>
                <th scope="col">Nro</th>
                <th scope="col">PLACA</th>
                <th scope="col">AÑO</th>
                <th scope="col">MARCA</th>
                <th scope="col">MODELO</th>
                <th scope="col">CATEGORIA</th>
                <th scope="col">EMPRESA</th>
                <th scope="col">TIPO_SERVICIO</th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let vehiuclo of listaVehiculos | paginate: { itemsPerPage: 10, currentPage: paginaActual, id: 'vehiculos-pagination' }; let i = index"  >
                
               <th scope="row">{{ i + (paginaActual - 1) * 10 + 1 }}</th>
                 <td>{{vehiuclo.placa}}</td>
                <td>{{vehiuclo.anio_fabricacion}}</td>
                <td>{{vehiuclo.marca}}</td>
                <td>{{vehiuclo.modelo}}</td>
                <td>{{vehiuclo.categoria}}</td>
                <td class="text-limit">{{vehiuclo.razon_social}}</td>
                <td>{{vehiuclo.tipo_servicio}}</td>
              </tr> 
            </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-between">
        <button class="btn btn-success mb-2" (click)="ExporToExcel()"><i class="bi bi-file-earmark-excel-fill"></i> Descargar</button>
        <pagination-controls  [id]="'vehiculos-pagination'" (pageChange)="paginaActual = $event" previousLabel="Anterior" extLabel="Siguiente"></pagination-controls>
      </div>
    </div>
  </div>