<div class="contenedor">
    <div class="row">
        <div class="col-md-5 ">
            <div class="card">
                <div class="card-body">
                    <form>
                        <!-- DATOS DEL PERSONALES -->
                        <fieldset>
                            <div class="form-group ">
                                <label for="origen_itinerario" class="form-label ">Origen:</label>
                                <input type="text" class="form-control" name="origen_itinerario">
                            </div>
                            <div class="form-group mt-3">
                                <label for="destino_itinerario" class="form-label ">Destino:</label>
                                <input type="text" class="form-control" name="destino_itinerario">
                            </div>
                            <div class="form-group mt-3">
                                <label for="itinerario" class="form-label  ">Itinerario:</label>
                                <textarea class="form-control" name="itinerario" rows="4"></textarea>
                            </div>
                            <div class="form-group mt-3 mb-3">
                                <label for="frecuencia" class="form-label  ">Frecuencia:</label>
                                <input type="text" class="form-control" name="frecuencia">
                            </div>

                        </fieldset>
                        <div class="d-grid gap-2 mt-2">
                            <button type="button " class="btn btn-success">Crear</button>
                        </div>
                        <div class="d-grid gap-2 mt-2">
                            <button class="btn  btn-secondary text-white" type="button">limpiar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-7 text-center">
            <table class="table text-center  table-hover">
                <thead class="thead-ligth bg-secondary text-white table-success">
                    <tr>
                        <th scope="col">Nro</th>
                        <th scope="col">Origen </th>
                        <th scope="col">Destino</th>
                        <th scope="col">Itinerario</th>
                        <th scope="col">Frecuencia</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <!-- <tbody>
                    <tr *ngFor="let item of listaItinerarios, index as i">

                        <th scope="row">{{i+1}}</th>

                        <td>{{ item.origen }}</td>
                        <td>{{item.destino}}</td>
                        <td>{{item.itinerario}}</td>
                        <td>{{item.frecuencia}}</td>
                        <td><i class="bi bi-trash3-fill" ></i> </td>

                    </tr>
                </tbody> -->
            </table>
        </div>
    </div>
</div>
