<div class="panel">
    <app-navegador></app-navegador>
    <app-subnavegador></app-subnavegador>

    <div class="container">
        <!-- presentacion -->
        <div class="encabezado_pages">
            <i class="bi bi-car-front icon-custom-encabezado"></i>
            <div class="text-start">
                <p class="titulo_menu mb-0">VEHÍCULOS</p>
                <p class="subtitulo_menu">Registro de Marca y Modelo</p>
            </div>
        </div>
        <div class="mt-4">
            <app-registro-marca-modelo></app-registro-marca-modelo>
        </div>
    </div>
</div>