.custom-card-purple {
    background-color: #EDE7F6; /* Morado tenue */
    border: none;
}
.custom-title-purple {
    color: #673AB7; /* Morado m치s claro */
}

/* Estilos para tarjeta azul */
.custom-card-blue {
    background-color: #E3F2FD; /* Azul tenue */
    border: none;
}
.custom-title-blue {
    color: #1976D2; /* Azul m치s oscuro */
}

/* Estilos para tarjeta naranja */
.custom-card-orange {
    background-color: #fae5c9; /* Naranja tenue */
    border: none;
}
.custom-title-orange {
    color: #e68049; /* Naranja m치s oscuro */
}

/* Estilos para tarjeta verde */
.custom-card-green {
    background-color: #E8F5E9; /* Verde tenue */
    border: none;
}
.custom-title-green {
    color: #2E7D32; /* Verde m치s oscuro */
}
