

.panel{

    height: 100vh;
    /* overflow-y: hidden; */
    display: flex;
    flex-direction: column;
    
 }

.icon-custom {
    
    color:rgba(49, 49, 49, 0.452);/* Establece el color del texto en blanco */
    cursor: pointer; /* Cambiar el cursor a una manito cuando el rat칩n est치 sobre el icono */
    font-weight: bold; 
    font-size: 50px;
    
}



.titulo_menu{
    
    font-size: 2.1rem;
    font-weight: 700;
    /* color: #26547ae0; */
    color: #1a3a55cb;
    margin: 0px;
  
    
}

.subtitulo_menu{

    font-size: 1.2rem;
    font-weight: 500;
    color: #284761e7;
    margin: 0px;
    
}

.hand_cursor{
    cursor: pointer; /*  convierte el cursor en una mano */
    
}

.font-weight-bold{
    font-weight: bold;
}

img{
    margin: 0px;
}




/* modifica la posicion y alinacion de todos los lementos del encabezado de la pagina */
.encabezado_pages{
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    text-align: center; /* Centra el texto del <p> */      
}

/* boton volver */
.btn-volver{
    background-color:  #176091;
    border-radius: 5px;
    border-color: #176091;   
}

.icon-custom-encabezado {
    
    font-weight: bold; 
    font-size: 3.5rem;
    color: #929FB1;
    margin-right: 10px;

}

/* texto de correo */
.text-correo{
    text-transform: lowercase !important;
    color: #3f91c7;
   
}

/* texto de encabezado de formulario */
.form-label{
    
    color: rgba(17, 55, 90, 0.662);
    font-weight: 700;
    letter-spacing: 0.4px;
   
}

.form-control{
    text-transform:uppercase;
}


/* iconos */
i{
    cursor: pointer;
}
.bi-pencil-square {
    display: inline-block; /* Permite que transform funcione correctamente */
    transition: transform 0.1s ease-in-out, color 0.2s ease-in-out; /* Suaviza el efecto */
}

.bi-pencil-square:hover {
    color: #206b1d;
    transform: scale(1.2); /* Aumenta el tama침o sin alterar el dise침o */
}


.bi-trash3-fill{
    color: rgba(167, 62, 62, 0.836);
}
.bi-trash3-fill:hover{
    color: rgb(211, 11, 11);
}

.bi-pencil-fill {
    color: #176091;
    
}
.bi-pencil-fill:hover {
    color: #408ec2;
}


